openapi: 3.1.0
info:
  title: ClientiAffidabili.it Partner API
  version: 1.0.0
  description: API partner sandbox-first per verifiche aziendali, usage e webhook.
servers:
  - url: https://sandbox.clientiaffidabili.it/api/partner/v1
    description: Sandbox
  - url: https://api.clientiaffidabili.it/api/partner/v1
    description: Live
security:
  - bearerApiKey: []
paths:
  /company-checks:
    post:
      summary: Crea una verifica azienda
      description: Richiede Idempotency-Key e crediti/entitlement validi.
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Verifica accodata
        '400':
          description: Richiesta non valida o idempotenza mancante
        '403':
          description: Scope o live access non consentito
  /company-checks/{checkId}:
    get:
      summary: Legge lo stato di una verifica
      parameters:
        - name: checkId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Stato verifica
  /reports/{reportId}:
    get:
      summary: Legge un report pubblicato e autorizzato
      parameters:
        - name: reportId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Report partner-facing
  /usage:
    get:
      summary: Usage ledger aggregato
      responses:
        '200':
          description: Elenco usage
components:
  securitySchemes:
    bearerApiKey:
      type: http
      scheme: bearer
